/*importing fonts*/
@import url("https://fonts.googleapis.com/css?family=Playwrite+AR");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");

body
{
    margin: 0;
    padding: 0;
}
/*Main container*/
.container.page
{
    padding: 20px;
    margin: 10px;
}

/*Header container*/
.header-row, .tagline
{
    display: flex;
    justify-content: center;
    padding: 0;
}

#main-title, #tag
{
    color: white;
}

#main-title
{
    font-family: 'Playwrite AR', cursive;
    font-weight: lighter;
    font-size: 2.7em;
    margin-bottom: 0;
}

#tag
{
    font-family: 'PT Sans', monospace;
    font-size: 1.3em;
    margin-bottom: 5px;
}

#highlight
{
    background-color: rgb(158, 207, 191);
    width: 7.5em;
    height: 0.5em;
    margin-left: 245px;
    padding: 0;
}

/*Flexbox container*/
.container.card
{
    display: flex;
    background-color: #3C3E3E;
    flex-direction: row;
    padding: 1em;
    row-gap: 1.5em;
}

.card-content
{
    box-shadow: rgba(239, 237, 237, 0.505) 0px 1px 3px, rgba(228, 221, 221, 0.751) 0px 1px 2px;
    padding: 1.5em;
    color: white;
    gap: 2em;
}

.text
{
    font-family: 'PT Sans', serif;
}

.text h2
{
    font-size: 1.5em;
}

.flavour-text
{
    font-size: 1em;
}

.button
{
    padding: 0.5em;
    background-color: rgb(158, 207, 191);
    display: block;
}
