/*importing fonts*/
@import url("https://fonts.googleapis.com/css?family=Playwrite+AR");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display");
@import url("https://fonts.googleapis.com/css?family=Inter");

body
{
    margin: 0;
    padding: 0;
}
/*Main container*/
.container.page
{
    padding: 20px;
    margin: 10px;
}

/*Header container*/
.header-row, .tagline
{
    display: flex;
    justify-content: center;
    padding: 0;
}

#main-title, #tag
{
    color: white;
}

#main-title
{
    font-family: 'Playwrite AR', cursive;
    font-weight: lighter;
    font-size: 2.7em;
    margin-bottom: 0;
}

#tag
{
    font-family: 'Major Mono Display', monospace;
    font-size: 1.3em;
    margin-bottom: 5px;
    text-align: center;
}

/*Flexbox container*/
.container.card
{
    display: flex;
    background-color: #3C3E3E;
    flex-direction: row;
    padding: 1em;
    row-gap: 1.5em;
}

.card-content
{
    border: 1px solid rgb(77, 87, 87);
    padding: 1.5em;
    color: white;
    gap: 2em;
}

.text
{
    font-family: 'Major Mono Display', monospace;
}

.text h2
{
    font-size: 1.5em;
    font-weight: 200;
}

.flavour-text
{
    font-size: 14px;
    font-weight: 100;
}

.button
{
    padding: 0.5em;
    background-color: rgb(158, 207, 191);
    display: block;
}
